<Project>
  <PropertyGroup>
    <PublishWorldwide>true</PublishWorldwide>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\publish\worldwide\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
  </PropertyGroup>
</Project>
